/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*INDEX*/

* {
	font-family: 'Roboto', sans-serif;
}

#inicio{
	min-height: 100vh;
	background-color: #414143;
}

.logo {  
  margin-left: 85px;
  width: 140px;
  margin-top: 96px;
}

h1#logo-name {
  color: #FCAD00;
  font-size: 40px;
  max-width: 70%;
  margin-left: 40px;
  margin-bottom: 86px;
  margin-top: 20px;
}

.container-form {
	background-color: #FFF;
	color: #a2a2a2;
}
.input-pass {
	margin-top: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 63px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

#inputEmail3{
  margin-top: -16px;
}

.input-pass{
	margin-top: -18px
}

.logIn{
	margin-top: -16px;
}

.btn {
    display: inline-block;
    width: 100%;
    height: 57px;
    padding: 20px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    background-color: #FCAD00;
    color: #FFF;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0px;    
}

.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color:#fff;
    background-color: #fed136;
    border-color: transparent;
}

a.forgotten{
	color: #FFF;
	margin-right: 160px;
}

a.forgotten:focus, a:hover {
  color: #FFF;
  text-decoration: none;
}

p.noAcc{
	color: #FFF;
	margin-right: 20px;
}

a.register {
	color: #fcad00;
}
a.register:focus, a:hover {
  color: #FFF;
  text-decoration: none;
}
/* FIN INDEX*/

/*OPCIONES*/

.navbar-default {
    background-color: #3E3F41;
    color: #fff;
    border: none;
    margin: 0;
}
.navbar-brand {
    float: none;
    height: inherit;
    text-align: center;
    display: block;
}
.navbar-toggle {
    position: absolute;
    left: 0;
    margin: 8px 15px;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar-collapse{
    position: absolute;
    width: 70vw;
    background-color: #fff;
    height: 100vh;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.50) 30vh 0px;
    z-index: 100;
}
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav>li>a {
	display: flex;
	align-items: center;
    padding: 15px;
}
.navbar-nav a span {
    color: #F6A800;
    font-size: 24px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;

}

.btn {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-color:#f6a800 ;
    color:#FFF;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    
}

.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color:#f6a800;
    background-color:#3e3f41;
    border-color: transparent;
}

li.navbar-nav{
	background-color: #FFF;
}

a.navLinks{
	color: #a2a2a2;
	text-decoration: none;
}

.btn:hover{
    background-color:#3e3f41;
}

a.btn-block{
	text-decoration: none;
	color: #FFF;
}

a.btn-block:focus, a:hover {
  color: #FFF;
  text-decoration: none;
}

#home{
	background-color: #DCDDDF;
	min-height: 100vh;
}

ul.option-btns{
	margin-top: 10rem;
      
}

.option-btns{
	margin-top: 14rem;
   list-style:none;
   
}