*{
	font-family: 'Roboto', sans-serif;
	background-color: #414143;
}

.logo {
	margin: 3em;
	width: 150px;
}

h1#logo-name {
	color: #FCAD00;
	font-size: 40px;
	margin-top: 10px;

}

.container-form {
	background-color: #FFF;
	color: #a2a2a2;
}

.form-group{
	padding-left: 40px;
}

.form-control {
  display: block;
  width: 290px;
  height: 55px;
  padding-bottom: 21px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  top:0px;
}

h4 {
	color: #FFF;
}